In [ ]:
#importing libraries
import pandas as pd
import numpy as np
import os
import numpy as np
import pandas as pd
import datetime

In [ ]:
mobility_df = pd.read_csv('/content/drive/MyDrive/qure.ai/us-mobility copy.csv') 
state_df = pd.read_csv('/content/drive/MyDrive/qure.ai/covid-19-state-level-data copy.csv')
death_df = pd.read_csv('/content/drive/MyDrive/qure.ai/confirmed-covid-19-deaths-in-us-by-state-and-county copy.csv')

In [ ]:
# Google [9] makes available the percent change in minutes spent at various POI groups like 
#parks, residential, workplace, retail, and public transportation each day compared to a baseline.

mobility_df.columns

Index(['state', 'county', 'date', 'retail', 'grocery_and_pharmacy', 'parks',
       'transit_stations', 'workplaces', 'residential'],
      dtype='object')

In [ ]:
mobility_df['date'].unique().shape

(57,)

In [ ]:
state_df['date'].unique().shape

(190,)

In [ ]:
death_df['date'].unique().shape

(188,)

In [ ]:
mobility_df['date'].unique().shape

In [ ]:
mobility_df.columns

Index(['state', 'county', 'date', 'retail', 'grocery_and_pharmacy', 'parks',
       'transit_stations', 'workplaces', 'residential'],
      dtype='object')

In [ ]:
mobility_df['state'].unique().shape

(52,)

In [ ]:
mobility_df.tail()

,state,county,date,retail,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
155055,Wyoming,Weston County,2020-04-06,NaN,NaN,NaN,NaN,-39.0,NaN
155056,Wyoming,Weston County,2020-04-07,NaN,NaN,NaN,NaN,-37.0,NaN
155057,Wyoming,Weston County,2020-04-08,NaN,NaN,NaN,NaN,-36.0,NaN
155058,Wyoming,Weston County,2020-04-09,NaN,NaN,NaN,NaN,-31.0,NaN
155059,Wyoming,Weston County,2020-04-10,NaN,NaN,NaN,NaN,-43.0,NaN

In [ ]:
mobility_df['county'].value_counts()

Total                2964
Washington County    1622
Jefferson County     1347
Franklin County      1248
Jackson County       1145
                     ...
Antelope County         2
Wolfe County            1
Real County             1
Wirt County             1
Wheeler County          1
Name: county, Length: 1711, dtype: int64

In [ ]:
s = list(state_df['state'].unique())

In [ ]:
m = list(mobility_df['state'].unique())

In [ ]:
d = list(death_df['state_name'].unique())

In [ ]:
d = list(death_df['state_name'].unique().shape)
d

[51]

In [ ]:
for i in s:
  if i not in m:
    print(i)

Puerto Rico
Virgin Islands
Guam
Northern Mariana Islands

In [ ]:
state =

In [ ]:
state_df.columns

Index(['Unnamed: 0', 'date', 'state', 'fips', 'cases', 'deaths'], dtype='object')

In [ ]:
death_df.columns

Index(['Unnamed: 0', 'county_fips', 'county_name', 'state_name', 'state_fips',
       'date', 'deaths', 'lat', 'long', 'geometry'],
      dtype='object')

In [ ]:
death_df['county_name'].unique().shape

(1882,)

In [ ]:
death_df[death_df['state_name']=='MO']['state_fips'].value_counts()

29    21808
Name: state_fips, dtype: int64

In [ ]:
state_df['fips'].unique()

array([53, 17,  6,  4, 25, 55, 48, 31, 49, 41, 12, 36, 44, 13, 33, 37, 34,
        8, 24, 32, 47, 15, 18, 21, 27, 40, 42, 45, 11, 20, 29, 50, 51,  9,
       19, 22, 39, 26, 46,  5, 10, 28, 35, 38, 56,  2, 23,  1, 16, 30, 72,
       78, 66, 54, 69])

In [ ]:
death_df['state_fips'].unique()

array([ 1,  2,  4,  5,  6,  8,  9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20,
       21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37,
       38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56])

In [ ]:
#creating a dictionary to map codes to name

us_state_to_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}
    
# invert the dictionary
abbrev_to_us_state = dict(map(reversed, us_state_to_abbrev.items()))

In [ ]:
#replacing the codes with abbreviations
death_df.replace({'state_name': abbrev_to_us_state}, inplace=True)

In [ ]:
# dropping columns from state_df  and death_df

state_df.drop('Unnamed: 0', axis=1, inplace=True)
death_df.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
mobility_df.isna().sum()

state                        0
county                       0
date                         0
retail                   21667
grocery_and_pharmacy     26038
parks                   114449
transit_stations         95514
workplaces                9029
residential              83002
dtype: int64

In [ ]:
mobility_df.dropna(axis=0, inplace=True)

In [ ]:
mobility_df.shape

(31618, 9)

In [ ]:
# changing all the date columns to timestamp format

mobility_df['date'] =  pd.to_datetime(mobility_df['date']).dt.strftime('%Y-%m-%d %H:%M:%S')
state_df['date'] =  pd.to_datetime(state_df['date']).dt.strftime('%Y-%m-%d %H:%M:%S')
death_df['date'] =  pd.to_datetime(death_df['date']).dt.strftime('%Y-%m-%d %H:%M:%S')

In [ ]:
# checking the number of deaths in both the state and death dataframe

state_df.groupby('state')['deaths'].sum()[:3]

state
Alabama     75974
Alaska       1149
Arizona    131475
Name: deaths, dtype: int64

In [ ]:
death_df.groupby('state_name')['deaths'].sum()[:3]

state_name
Alabama     73646
Alaska       1339
Arizona    127422
Name: deaths, dtype: int64

In [ ]:
death_df.rename(columns={'state_name': 'state'}, inplace=True)

### We can see that after doing a group by on state_name, we are getting almost same value in both the dataframes of death count per state. SO we will consider cases as well as deaths from the dataframe state_wise_cases.

In [ ]:
mobility_df.shape

(31618, 9)

In [ ]:
state_df.shape

(8154, 5)

In [ ]:
mobility_df['state'].unique().shape

(52,)

In [ ]:
mobility_df['date'].unique().shape

(57,)

In [ ]:
state_df['state'].unique().shape

(55,)

In [ ]:
state_df['date'].unique().shape

(190,)

In [ ]:
death_df['date'].unique().shape

(188,)

In [ ]:
mobility

In [ ]:
# https://www.google.com/covid19/mobility/data_documentation.html?hl=en

#mobility_df[mobility_df['state'] == 'Total']

In [ ]:
death_df['state'].unique().shape

(51,)

In [ ]:
# merging all the three datasets

df_1 = pd.merge(mobility_df, state_df, on='state')

NameError: ignored

In [ ]:
df = pd.merge(df_1, death_df, on='state')

In [ ]:
df.shape

(728058, 18)

In [ ]:
df.columns

Index(['state', 'county', 'date', 'retail', 'grocery_and_pharmacy', 'parks',
       'transit_stations', 'workplaces', 'residential', 'fips', 'cases',
       'deaths', 'county_fips', 'county_name', 'state_fips', 'lat', 'long',
       'geometry'],
      dtype='object')

In [ ]:
df.to_csv('/content/drive/MyDrive/qure.ai/qure_final.csv', index=False)

In [ ]:
df.columns

Index(['state', 'county', 'date', 'retail', 'grocery_and_pharmacy', 'parks',
       'transit_stations', 'workplaces', 'residential', 'fips', 'cases',
       'deaths', 'county_fips', 'county_name', 'state_fips', 'lat', 'long',
       'geometry'],
      dtype='object')

In [ ]:
df['deaths'].value_counts()

0     726479
1       1290
4         94
2         93
3         32
12        31
10        26
8          4
6          3
14         3
9          1
21         1
22         1
Name: deaths, dtype: int64

In [ ]:
df = pd.merge(df_1, death_df, on='state')

KeyError: ignored

In [ ]:
# number of deaths in all the counties per state in less than number of death cases in the whole state
death_df.groupby('state_name')['deaths'].sum()[:3]

state_name
Alabama     73646
Alaska       1339
Arizona    127422
Name: deaths, dtype: int64

In [ ]:
# joining state

# DO NOT TOUCH THIS

In [ ]:
df3['date'] =  pd.to_datetime(df3['date']).dt.strftime('%Y-%m-%d %H:%M:%S')

In [ ]:
df3.dropna(inplace=True)

In [ ]:
df3.to_csv('/content/drive/MyDrive/qure.ai/lat_long_conv.csv', index=False)

In [ ]:
df1['date'] = pd.to_datetime(df1['date'])

In [ ]:
import datetime

In [ ]:
df2 = df1.apply(lambda x : datetime.datetime.strptime(x['date'], '%Y-%m-%d %H:%M:%S'), axis=1)

In [ ]:
lat_long_save

0        2020-01-22
1        2020-01-23
2        2020-01-24
3        2020-01-25
4        2020-01-26
            ...
600655   2020-07-23
600656   2020-07-24
600657   2020-07-25
600658   2020-07-26
600659   2020-07-27
Length: 600660, dtype: datetime64[ns]

In [ ]:
df1.head()

,state,county,date,retail,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,Total,Total,2020-02-15 00:00:00,6.0,2.0,15.0,3.0,2.0,-1.0
1,Total,Total,2020-02-16 00:00:00,7.0,1.0,16.0,2.0,0.0,-1.0
2,Total,Total,2020-02-17 00:00:00,6.0,0.0,28.0,-9.0,-24.0,5.0
3,Total,Total,2020-02-18 00:00:00,0.0,-1.0,6.0,1.0,0.0,1.0
4,Total,Total,2020-02-19 00:00:00,2.0,0.0,8.0,1.0,1.0,0.0

In [ ]:
type(df1['date'][0])

str

In [ ]:
df1.to_csv('/content/drive/MyDrive/qure.ai/test_final.csv', index=False)

In [ ]:
df1.head()

,state,county,date,retail,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,Total,Total,2020-02-15,6.0,2.0,15.0,3.0,2.0,-1.0
1,Total,Total,2020-02-16,7.0,1.0,16.0,2.0,0.0,-1.0
2,Total,Total,2020-02-17,6.0,0.0,28.0,-9.0,-24.0,5.0
3,Total,Total,2020-02-18,0.0,-1.0,6.0,1.0,0.0,1.0
4,Total,Total,2020-02-19,2.0,0.0,8.0,1.0,1.0,0.0

In [ ]:
df1.shape

(155060, 9)

In [ ]:
df1.columns

Index(['state', 'county', 'date', 'retail', 'grocery_and_pharmacy', 'parks',
       'transit_stations', 'workplaces', 'residential'],
      dtype='object')

In [ ]:
df1.value_counts()

state    county           date        retail  grocery_and_pharmacy  parks   transit_stations  workplaces  residential
Alabama  Baldwin County   2020-02-15   17.0    12.0                  55.0    8.0               6.0        -2.0           1
Ohio     Delaware County  2020-03-06   5.0     2.0                   6.0     18.0             -1.0         1.0           1
                          2020-03-04   8.0     5.0                   59.0    11.0              1.0         0.0           1
                          2020-03-03   8.0     8.0                   35.0    4.0               2.0         0.0           1
                          2020-03-02   3.0     1.0                  -18.0    1.0               2.0         1.0           1
                                                                                                                        ..
Iowa     Polk County      2020-03-04   6.0     24.0                  83.0    13.0              3.0        -2.0           1
                          2020-03-03   5.0     22.0                  46.0    0.0               2.0        -1.0           1
                          2020-03-02   5.0     22.0                  17.0   -4.0               4.0        -1.0           1
                          2020-03-01   21.0    36.0                  165.0   4.0               3.0        -3.0           1
Wyoming  Total            2020-04-11  -41.0   -2.0                  -25.0   -15.0             -30.0        12.0          1
Length: 31618, dtype: int64

In [ ]:
df2.columns

Index(['Unnamed: 0', 'date', 'state', 'fips', 'cases', 'deaths'], dtype='object')

In [ ]:
df2['Unnamed: 0'].value_counts()

0       1
5431    1
5444    1
5443    1
5442    1
       ..
2713    1
2712    1
2711    1
2710    1
8153    1
Name: Unnamed: 0, Length: 8154, dtype: int64

In [ ]:
df3.columns

Index(['Unnamed: 0', 'county_fips', 'county_name', 'state_name', 'state_fips',
       'date', 'deaths', 'lat', 'long', 'geometry'],
      dtype='object')

# PREPROCESSING

In [ ]:
def csv_files():

    #get names of only csv files
    csv_files = []
    for file in os.listdir(os.getcwd()):
        if file.endswith(".csv"):
            csv_files.append(file)

    return csv_files


def configure_dataset_directory(csv_files, dataset_dir):
  
    #make dataset folder to process csv files
    try: 
      mkdir = 'mkdir {0}'.format(dataset_dir)
      os.system(mkdir)
    except:
      pass

    #move csv files to dataset folder
    for csv in csv_files:
      mv_file = "mv '{0}' {1}".format(csv, dataset_dir)
      os.system(mv_file)

    return

def create_df(dataset_dir, csv_files):
  
    data_path = os.getcwd()+'/'+dataset_dir+'/'

    #loop through the files and create the dataframe
    df = {}
    for file in csv_files:
        try:
            df[file] = pd.read_csv(data_path+file)
        except UnicodeDecodeError:
            df[file] = pd.read_csv(data_path+file, encoding="ISO-8859-1") #if utf-8 encoding error
        print(file)
    
    return df


def clean_tbl_name(filename):
  
    #rename csv, force lower case, no spaces, no dashes
    clean_tbl_name = filename.lower().replace(" ", "").replace("-","_").replace(r"/","_").replace("\\","_").replace("$","").replace("%","")
    
    tbl_name = '{0}'.format(clean_tbl_name.split('.')[0])

    return tbl_name

def clean_colname(dataframe):
  
    #force column names to be lower case, no spaces, no dashes
    dataframe.columns = [x.lower().replace(" ", "_").replace("-","_").replace(r"/","_").replace("\\","_").replace(".","_").replace("$","").replace("%","") for x in dataframe.columns]
    
    #processing data
    replacements = {
        'timedelta64[ns]': 'varchar',
        'object': 'varchar',
        'float64': 'float',
        'int64': 'int',
        'datetime64': 'timestamp'
    }

    col_str = ", ".join("{} {}".format(n, d) for (n, d) in zip(dataframe.columns, dataframe.dtypes.replace(replacements)))
    
    return col_str, dataframe.columns

def upload_to_db(host, dbname, user, password, tbl_name, col_str, file, dataframe, dataframe_columns):

    conn_string = "host=%s dbname=%s user=%s password=%s" % (host, dbname, user, password)
    conn = psycopg2.connect(conn_string)
    cursor = conn.cursor()
    print('opened database successfully')
    
    #drop table with same name
    cursor.execute("drop table if exists %s;" % (tbl_name))

    #create table
    cursor.execute("create table %s (%s);" % (tbl_name, col_str))
    print('{0} was created successfully'.format(tbl_name)) 
    
    #insert values to table

    #save df to csv
    dataframe.to_csv(file, header=dataframe_columns, index=False, encoding='utf-8')

    #open the csv file, save it as an object
    my_file = open(file)
    print('file opened in memory')
    
    #upload to db
    SQL_STATEMENT = """
    COPY %s FROM STDIN WITH
        CSV
        HEADER
        DELIMITER AS ','
    """

    cursor.copy_expert(sql=SQL_STATEMENT % tbl_name, file=my_file)
    print('file copied to db')
    
    cursor.execute("grant select on table %s to public" % tbl_name)
    conn.commit()
    cursor.close()
    print('table {0} imported to db completed'.format(tbl_name))

    return print("THIS IS WORKING")

# DATABASE CONNECTION

In [ ]:
#db settings
host = 'localhost'
dbname = 'postgres'
user = 'postgres'
password = 'SuNd@r@m129'

dataset_dir = '/content/drive/MyDrive/qure.ai'


csv_files = csv_files()
configure_dataset_directory(csv_files, dataset_dir)
df = create_df(dataset_dir, csv_files)

for k in csv_files:

    print("loop")

    #call dataframe
    dataframe = df[k]

    #clean table name
    tbl_name = clean_tbl_name(k)
    
    #clean column names
    col_str, dataframe.columns = clean_colname(dataframe)
    
    #upload data to db   
    upload_to_db(host, 
                 dbname, 
                 user, 
                 password, 
                 tbl_name, 
                 col_str, 
                 file=k, 
                 dataframe=dataframe, 
                 dataframe_columns=dataframe.columns)

TypeError: ignored

# SQLALCHEMY

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:SuNdArAm129@localhost:5432/postgres')
df1.to_sql('qure_test', engine)

OperationalError: ignored